<div class="terminal">
  <div class="terminal-container">
    <p><span class="guest">guest@ivanreyes.dev </span><span id="first-line"></span></p>
    <p><span class="guest" id="guest2" hidden>guest@ivanreyes.dev </span id="second-line"></p>
    <p><span class="guest" id="guest3" hidden>guest@ivanreyes.dev </span></p>
  </div>
</div>
<%javascript_include_tag "javascript/index.js"%>

