<div class="terminal">
  <div class="terminal-container">
    <p><span class="guest">guest@ivanreyes.dev </span><span id="first-line"></span></p>
    <p><span class="guest" id="guest2" hidden>guest@ivanreyes.dev </span><span id="second-line"></span></p>
    <p><span class="guest" id="guest3" hidden>guest@ivanreyes.dev </span><span id="third-line-one"></span> <span id="third-line-two"></span></p>
    <div class="info" hidden>
        <pre class="center-text"id="signature">
     _____                  _____
    |_   _|                |  __ \
      | |_   ____ _ _ __   | |__) |___ _   _  ___  ___
      | \ \ / / _` | '_ \  |  _  // _ \ | | |/ _ \/ __|
     _| |\ V / (_| | | | | | | \ \  __/ |_| |  __/\__ \
    |_____\_/ \__,_|_| |_| |_|  \_\___|\__, |\___||___/
                                        __/ |
                                       |___/
                                               0.4.16
        </pre>
    <pre class="separator">--------------------------------------------------------------------------------------------------------------------------------------------------------------------------</pre>
    <div class="d-flex justify-content-around">
      <a href="#" class="header-btn">Projects</a>
      <a href="#" class="header-btn">Resume</a>
      <a href="#" class="header-btn">GitHub</a>
      <a href="#" class="header-btn">LinkedIn</a>
    </div>
      <p class="mt-3">>Hi, my name is Ivan! </p>
      <p>Thanks for visiting my portfolio.</p>
      <p>I'm a Full-Stack web developer based in Tokyo, Japan.</p>
      <p>I'm passionate about new technologies, languages and geography.</p>
      <p><b>>My languages: </b></p>
      <p>English, Spanish and Japanese(N2)</p>
        <div class="skills">
          <p><b>>My Skills: </b></p>
          <ul>
            <li>Ruby</li>
            <li>Ruby on Rails</li>
            <li>JavaScript</li>
            <li>HTML5</li>
            <li>CSS</li>
            <li>PostgreSQL</li>
            <li>Heroku</li>
          </ul>
        </div>
      <p class ="mt-1">>Please feel free to check my projects down below 👇🏼</p>
    </div>
  </div>
</div>
<%javascript_include_tag "javascript/index.js"%>
<div class="projects">
  <div class="project-1">

  </div>
</div>
